@import 'styles/scss/colors';
@import 'styles/scss/fonts';

main, html, body {
  font-family: $body-font-family, 'roboto' !important;
  padding: 0 !important;
  margin: 0 !important;
}

* {
  box-sizing: border-box !important;
}