$primary: #0A3A7E;
$secondary: #E6353B;
$neutral-1: #FFFFFF;
$neutral-2: #E4E4E4;
$neutral-3: #D4D4D4;
$neutral-4: #666666;
$neutral-5: #000000;

:export {
  primary: $primary;
  secondary: $secondary;
  neutral-1: $neutral-1;
  neutral-2: $neutral-2;
  neutral-3: $neutral-3;
  neutral-4: $neutral-4;
  neutral-5: $neutral-5;
}